@model int
<div class="row">
    <div class="col-6">
        <input value="Delete" asp-rout-id="@Model" class="btn btn-danger form-control" type="submit" />
    </div>
    <div class="col-6">
        <a asp-action="Index" class="btn btn-success form-control">Back To List</a>
    </div>

</div>
